* {
    margin: none;
}

body {
    background-color: rgb(20, 13, 27);
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.texts {
    margin: none;
    padding: none;
    color: aliceblue;
    margin: 2%;
}

.text {
    display: flex;
  justify-content: center;
  font-family: 'Space Grotesk', sans-serif;
}

#firog {
  display: flex;
  justify-content: center;
  position: relative;
}

.img {
    animation: float 2s ease-in-out infinite;
    position: absolute;

    -webkit-user-drag: none;
    user-select: none;
    pointer-events: auto;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

img, div {
  max-width: 100%;
}
